.CourseContainer {
    display: flex;
    flex-direction: column;
    margin: 9px;
    padding: 17px;
    min-height: 60px;
    border-radius: 2.9vh;
    /*background-image: url("https://www.transparenttextures.com/patterns/dark-mosaic.png");*/
    /*background-image: url("https://www.transparenttextures.com/patterns/dark-geometric.png");*/
    /*background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");*/

}

.CourseContainer div {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}
a {
    text-decoration-color: #5677a6;
    color: black;
}

p { margin: 5px; }

@media only screen and (max-width: 1273px) {
    .CourseContainer { width: 40%; }
}


@media only screen and (max-width: 871px) {
    .CourseContainer { flex-direction: column; }
    p { font-size: 17px; }
    a { font-size: 20px; }
    .CourseContainer { width: 90%; }
}

@media only screen and (min-width: 872px) {
    p { font-size: 20px; }
    a { font-size: 26px; }
}

@media only screen and (min-width: 1273px) {
    .CourseContainer { width : 29%; }
}

