.ProgramSearchContainer {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    padding: 20px;
    border-bottom: solid black 2px;
}


.ProgramSearchContainer input {
    width: 70vw;
    font-size: 40px;
    background-color: black;
    border: white solid 5px;
    border-radius: 8px;
    padding: 7px;
    color: white;
}

button{
    /*border: #8becff 6px solid;*/
    /*background-color: #8becff;*/
    background-color: white;

    font-size: 24px;
    margin: 0 30px;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    cursor: pointer;
}