.App{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.CoursesContainer {
    display: flex;
    flex : 1;
    flex-wrap: wrap;
    justify-content: center;
    /*flex-direction: column;*/
    /*background-color: blue;*/
}


body {
    /*background-color: #ffffff;*/
    margin: 0;
/*background: rgb(63,94,251);*/
/*background: radial-gradient(circle, rgb(26, 50, 34) 0%, rgb(81, 23, 34) 100%);*/
/*    background-color: black;*/
    padding: 0;
    /*   background-color: #000000;*/
    /*background-image: url("https://www.transparenttextures.com/patterns/argyle.png");*/
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    background-color: #000000;
background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
/*    background-color: #000000;*/
/*    background-color: #010300;*/
/*background-image: url("https://www.transparenttextures.com/patterns/xv.png");*/
/*background-image: url("https://www.transparenttextures.com/patterns/dark-mosaic.png");*/
}