.App{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.CoursesContainer {
    display: flex;
    flex : 1;
    flex-wrap: wrap;
    justify-content: center;
    /*flex-direction: column;*/
    /*background-color: blue;*/
}


body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}